div .row {
  padding: 12.0rem 0;
}

.card{
  border: 1px solid gray;
  padding: 1.0rem;
}

.card:hover {
  transform: scale(1.10) !important;
  transition-duration: 0.5s !important;
  overflow: hidden;
  padding: 0.5rem;
  overflow: hidden;
}

.desc-me {
  padding: 20px;
  margin: auto auto;
}

.about-me-title {
  padding: 15px;
}

h4 {
  padding: 15px;
}

p {
  font-size: 20px;
}

.img-me {
  margin: auto auto;
}

.bi {
  width: 42px;
  height: 42px;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .card{
    margin-bottom: 4rem;
  }
  .links-container{
    background-image: url('forrest3.jpg') !important;
  }
}